<div class="container">
  <div class="row">

    <h1>My Breweries</h1>
    <% @breweries.each do |b| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", brewery: b %>
      </div>
    <% end %>

  </div>
</div>
