<%= render 'banner' %>
<div class="container padded">
  <% @brewery.reviews.each do |r| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% r.rating.times do %>
        <i class="fa fa-star"></i>
      <% end %>
      <p><%= r.comment %></p>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render 'review_form' %>
    </div>
  </div>
</div>
